<!DOCTYPE html>
<html ng-app="githubViewer">

<head>
  <script data-require="angular.js@*" data-semver="2.0.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</head>

<body ng-controller="MainCtrl">
  <h1>{{message}}</h1>
  <div>{{error}}</div>

  {{ countdown }}
  <form name="searchUser" ng-submit="search(username)">
    <input type="search" required placeholder="username to find" ng-model="username" />
    <input type="submit" value="search" ng-click="search(username)" />
  </form>

  <div ng-include="'userdetails.html'" ng-show="user">
    
  </div>

</body>

</html>